[% if (locals.help) { %] — [%= locals.help %][% } %]
[% if (locals.api?.auth) { %]<span title="restricted access">🔒</span>[% } %]
<a href="https://github.com/gbv/jskos-server#[%= ref %]" target="_blank" title="documentation">&#x1F6C8;</a>
